---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

    <Note />

    <Content
        highlight="Discover Blazed Quest"
        title="Top Notch Project Management"
        items={[
        {
            title: 'More than just software',
            description:
            'Blazed Quest is more than just project management software, its an entire ecosystem, which amplifies the productivity of your staff.',
        },
        {
            title: 'AI enhanced',
            description:
            'We have carefully crafted bots to assist your admin and ops teams, effectively boosting your workforce without additional staff.',
        },
        {
            title: 'Works with all scales',
            description:
            'From a small single developer company to a multi-national corporation, Blazed Quest is designed to work for your enterprise.',
        },
        ]}
        image={{
        src: import('~/assets/images/caos.jpg'),
        alt: 'Colorful Image',
        }}
    >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        About Blazed Quest
      </h3>
      You've never seen a project management system like this before, it even integrates with your exising technologies, <i>seamlessly</i>.
    </Fragment>
  </Content>

  <Stats
    items={[
    { name: 'Downloads', value: '132K' },
    { name: 'Stars', value: '24.8K' },
    { name: 'Forks', value: '10.3K' },
    { name: 'Users', value: '48.4K' },
    ]}
  />

  <Features
        highlight="Features"
        title="What you get with Quest"
        subtitle="Glue together existing providers or use Quest exclusively."
        items={[
        [
            {
            title: 'Astro + Tailwind CSS Integration',
            description:
                'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
            icon: 'tabler:brand-tailwind',
            },
            {
            title: 'Ready-to-use Components',
            description:
                'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
            icon: 'tabler:components',
            },
            {
            title: 'Best Practices',
            description:
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:list-check',
            },
        ],
        [
            {
            title: 'Excellent Page Speed',
            description:
                'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
            icon: 'tabler:rocket',
            },
            {
            title: 'Search Engine Optimization (SEO)',
            description:
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:arrows-right-left',
            },
            {
            title: 'Open to new ideas and contributions',
            description:
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:bulb',
            },
        ],
        ]}
    />

    <Features2
        title="Most used widgets"
        subtitle="Provides frequently used components for building websites using Tailwind CSS"
        highlight="Components"
        items={[
        {
            title: 'Headers',
            description:
            'In general, Headers contain information that makes it easier for visitors to interact with the website.',
            icon: 'flat-color-icons:template',
        },
        {
            title: 'Heros',
            description:
            'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
            icon: 'flat-color-icons:gallery',
        },
        {
            title: 'Features',
            description:
            'Display your product in action and how the Features actually create a solution for your target customer.',
            icon: 'flat-color-icons:todo-list',
        },
        {
            title: 'Content',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'flat-color-icons:document',
        },
        {
            title: 'Call-to-Action',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'flat-color-icons:advertising',
        },
        {
            title: 'Pricing',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'flat-color-icons:currency-exchange',
        },
        {
            title: 'Testimonial',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'flat-color-icons:voice-presentation',
        },
        {
            title: 'Contact',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'flat-color-icons:business-contact',
        },
        {
            title: 'Footers',
            description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
            icon: 'icon-park:page-template',
        },
        ]}
    />

    <CallToAction
        callToAction={{
        text: 'Open App',
        href: 'https://app.blazed.quest/',
        icon: 'tabler:download',
        }}
    >
        <Fragment slot="title">
            Blazed <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Quest</span>
        </Fragment>

        <Fragment slot="subtitle">
            Join the revolution in business and computing.
        </Fragment>
    </CallToAction>
    
</Layout>