---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import Steps from '~/components/widgets/Steps.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Hero
    callToAction={{ text: 'Use the App', href: 'https://app.blazed.quest/' }}
    callToAction2={{ text: 'Learn more', href: '/about', icon: 'tabler:info-square' }}
    image={{ src: import('~/assets/images/4380.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Amazing project management <span class="hidden xl:inline">solution, </span>
      <span class="text-accent dark:text-white highlight"> 
        Blazed Quest
      </span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <span class="font-semibold">
            BlazedQuest
          </span> 
          is a next-gen project management solution. It integrates with your favorite providers (such as Jira and Google),
          features AI enhanced tools, and even on-prem resources.  
        </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">
        Blazed Quest: Elite Project Management.
      </span> 
    </Fragment>
  </Hero>

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
    {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
    },
    {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
    },
    {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
    },
    {
        title: 'Ready!',
        icon: 'tabler:check',
    },
    ]}
    image={{
    src: import('~/assets/images/19719.jpg'),
    alt: 'Steps image',
    }}
  />

  <LatestPosts
      title="Find out more content in our Blog"
      information={`The blog is used to display AstroWind documentation.
                          Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                          Astro is a very interesting technology. Thanks.
                  `}
      postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
      ]}
  />

</Layout>
