---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Hero
    callToAction={{ text: 'Use the App', href: 'https://app.blazed.quest/' }}
    callToAction2={{ text: 'Learn more', href: '/about', icon: 'tabler:info-square' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Amazing project management <span class="hidden xl:inline">solution, </span>
      <span class="text-accent dark:text-white highlight"> 
        Blazed Quest
      </span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <span class="font-semibold">
            BlazedQuest
          </span> 
          is a next-gen project management solution. It integrates with your favorite providers (such as Jira and Google),
          features AI enhanced tools, and even on-prem resources.  
        </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">
        Blazed Quest: Elite Project Management.
      </span> 
    </Fragment>
  </Hero>

  <LatestPosts
      title="Find out more content in our Blog"
      information={`The blog is used to display AstroWind documentation.
                          Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                          Astro is a very interesting technology. Thanks.
                  `}
      postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
      ]}
  />

</Layout>
