---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<Layout {meta}>
    <h1>Todo</h1>
    <p>Add pricing page</p>
</Layout>