
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blazed Labs Styles */
html, body{
    max-width: 100%;
    overflow-x: hidden;
} 

/*
    Prevent blinking cursor. Since the ::all selector is so slow,
    we define all HTML elements that are cross-browser supported.
*/
div, table, button, a, i, span, body, html,
section, article, p, svg, h1, h2, h3, h4, h5, var,
h6, hr, br, thead, tr, th, td, footer, main, header,
aside, b, strong, blockquote, code, cite, col, colgroup,
input[type=submit], input[type=radio], input[type=checkbox],
input[type=color], input[type=date], input[type=file],
input[type=hidden], input[type=image], input[type=reset],
input[type=button], input[type=range], form, dl, dt, dd,
iframe, label, legend, ul, li, img, caption, dfn, em, tfoot,
fieldset, nav, ol, option, pre, select, sup, sub, tbody {
    caret-color: rgba(0,0,0,0);
}

/*
    Define cursor blinking color for text-based input types
*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=tel]:focus, input[type=text]:focus, input[type=number]:focus,
input[type=search]:focus, input[type=url]:focus, textarea:focus {
    caret-color: rgba(0,0,0,1);
}

::selection {
	background: #3246a8;
	color: #fff;
}

body::-webkit-scrollbar{width:10px}
body::-webkit-scrollbar-track{background:#727a8a}
body::-webkit-scrollbar-thumb{background-color:#afb4bd;border-radius:20px;border:1px solid #5b626e}
body::-webkit-scrollbar-thumb:hover{background-color:#5b626e}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
